* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: gainsboro;
    height: 100vh;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "side head"
        "side main";
}

.header {
    background-color: white;
    grid-area: head;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 26px 10px #00000011;    
}

.sidebar {
    background-color: #000117;
    height: 100vh;
    grid-area: side;
    position: fixed;
    top: 0;    
    width: 80px;    
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar:hover {
    width: 245px;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px; 
    white-space: nowrap;  
}

.logo h3 {
    margin: 0;
    
}

.logo img {    
    margin: 30px 20px 30px 15px; 
    width: 45px;
    height: auto; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar ul li a:hover {
    background-color: #a88532; 
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.navbar ul li.active img {
    background-color: gray;
}

.navbar ul li img {
    margin: 20px 30px 20px 30px;
    width: 20px;
}

.logout {
    margin-top: 200px;
}

.main {
    background-color: rgb(209, 217, 232);
    grid-area: main;
    padding: 20px 20px 0px 20px;
}

.dashboard { /*palit*/
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    height: calc(100vh - 120px);
    padding: 25px;
    gap: 13px;
}

.container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .tabs-container {
    width: 200px;
    background-color: #ffffff;
    border-radius: 0.75rem 0px 0px 0.75rem;
    padding: 1rem;
    overflow-y: auto;
    min-height: 590px;
    max-height: calc(100vh - 6rem);
  }
  .tabs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 18px;
  }
  .tab {
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tab:hover {
    background-color: #f3f4f6;
  }
  .tab.active {
    background-color: #e5e7eb;
    font-weight: bold;
  }
  .tab.delete {
    color: #ef4444;
    margin-top: auto;
  }
  .section-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    border: 1px solid #e0e0e0;
    overflow-y: auto;
    height: 570px;
  }
  .section {
    display: none;
  }
  .section.active {
    display: block;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    height: 80px;
    border-radius: 15px;
    padding: 15px;
  }
  .profile-info {
    display: flex;
    align-items: center;
  }
  .profile-image {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .profile-id {
    margin-top: 5px;
    color: #6b7280;
  }
  .edit-button {
    background-color: #ffffff;
    color: #374151;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
  }

  .info-section {
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 15px;
    position: relative;
  }

  .info-section button {
    background-color: #ffffff;
    color: #374151;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .info-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread header items */
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-size: 18px;
  }
  
  .info-grid h2 {
    font-size: 23px;
  }
  
  .info-item label {
    display: block;
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 0.25rem;
  }
  
  .edit-button:hover {
    background-color: rgb(205, 203, 203);
  }
  
  .notification {
    background-color: #f9fafb;
    border-radius: 0.375rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(82, 82, 82, 0.144);
  }
  
  .notification-title {
    font-weight: 600;
  }
  .notification-date {
    font-size: 0.875rem;
    color: #6b7280;
  }
  #case-update {
    display: none;
    grid-template-columns: 1fr 300px;
    gap: 1rem;
  }
  
  .section.active #case-update {
    display: grid;
  }
  .case-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .case-header h2 {
    font-size: 1rem;
    font-weight: normal;
    color: #6b7280;
    margin-bottom: 0.5rem;
  }
  .case-title-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .case-title {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .case-status {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #10b981;
    color: white;
    border-radius: 9999px;
    font-size: 0.875rem;
    align-self: flex-start;
  }
  .current-status {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #6b7280;
  }
  .case-info,
  .case-description {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid rgba(78, 78, 78, 0.267);
  }
  .case-info h3,
  .case-description h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .info-label {
    font-weight: 600;
    color: #6b7280;
  }
  .case-timeline {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 8px;
    border: 1px solid rgba(78, 78, 78, 0.267);
  }
  .timeline-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .timeline-subtitle {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 1rem;
  }
  .timeline-items {
    position: relative;
  }
  .timeline-items::before {
    content: "";
    position: absolute;
    left: 0.45rem;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e5e7eb;
  }
  .timeline-item {
    display: flex;
    margin-bottom: 1rem;
    position: relative;
  }
  .timeline-marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 0.5rem;
    flex-shrink: 0;
    z-index: 1;
  }
  .timeline-content {
    flex-grow: 1;
  }
  .timeline-event {
    font-weight: 600;
    font-size: 12px;
  }
  .timeline-date {
    font-size: 0.875rem;
    color: #6b7280;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 0.75rem;
    overflow-y: auto;
    height: 400px;
  }

  .deletemodal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 0.75rem;
    overflow-y: auto;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .modal-subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .modal-date {
    color: #6b7280;
    margin-bottom: 1rem;
  }
  .modal-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .modal-info-label {
    font-weight: 600;
  }
  .modal-description {
    margin-top: 1rem;
  }
  .modal-description h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
  }
  
  #deleteAccountModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal content styles */
  #deleteAccountModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 38px;
    border: 1px solid #888;
    width: 512px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  #deleteAccountModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #deleteAccountModal .modal-title {
    margin: 0;
    font-size: 1.5em;
  }
  
  #deleteAccountModal .close {
    cursor: pointer;
    font-size: 1.5em;
    color: #999;
  }
  
  #deleteAccountModal .delete-subtitle {
    margin: 15px 0;
    font-size: 0.9em;
    color: #555;
  }
  
  #deleteAccountModal #deleteAccountPassword {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  #deleteAccountModal .confirmDelete {
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 12px;
  }
  
  #deleteAccountModal .confirmDelete:hover {
    background-color: #b60600;
  }
  
  #deleteAccountModal .confirmDelete:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .info-container {
    color: black;
    font-size: 16px;
  }
  