* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
}

body {
  background-color: gainsboro;
  height: 100vh;

  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "side head"
    "side main";
}

.header {
  background-color: white;
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 4px 26px 10px #00000011;
}

.sidebar {
  background-color: #000117;
  height: 100vh;
  grid-area: side;
  position: fixed;
  top: 0;
  width: 80px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 10;
}

.sidebar:hover {
  width: 245px;
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10px; 
  white-space: nowrap;
}

.logo h3 {
  margin: 0;

}

.logo img {
  margin: 30px 20px 30px 15px; 
  width: 45px;
  height: auto; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar ul li a:hover {
  background-color: #a88532; 
  border-radius: 10px;
  margin: 0px 20px 0px 20px;
}

.navbar ul li.active img {
  background-color: gray;
}

.navbar ul li img {
  margin: 20px 30px 20px 30px;
  width: 20px;
}

.logout {
  margin-top: 250px;
}

.main {
  background-color: rgb(209, 217, 232);
  grid-area: main;
  padding: 20px 20px 0px 20px;
}

.caseLibrary {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  height: calc(100vh - 120px);
  padding: 25px;
  gap: 13px;
}

/*start*/
.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px;
  width: 58%;
  margin-bottom: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 12px 18px;
  flex-grow: 1;
  margin-right: 10px;
}

.search-bar i {
  color: #888;
  margin-right: 10px;
}

#search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

#search-button {
  padding: 8px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.table-container {
  border-radius: 8px;
  padding: 0px 12px;
  overflow-y: auto;
  height: calc(100vh - 210px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody {
  overflow-y: auto;
  position: relative;
  max-height: 300px;
}

th,
td {
  text-align: left;
  padding: 12px 8px;
  border-bottom: 1px solid #e0e0e0;
}

th {
  font-weight: lighter;
}

tr:last-child td {
  border-bottom: none;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #888;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
}

input[type="checkbox"]:checked {
  background-color: #000000bb;
  border-color: #02005c;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#exit-search {
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color: #888;
  margin-left: 10px;
}

#exit-search:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}
