* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: gainsboro;
    height: 100vh;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "side head"
        "side main";
}

.header {
    background-color: white;
    grid-area: head;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 26px 10px #00000011;    
}

.sidebar {
    background-color: #000117;
    height: 100vh;
    grid-area: side;
    position: fixed;
    top: 0;    
    width: 80px;    
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar:hover {
    width: 245px;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px; 
    white-space: nowrap;  
}

.logo h3 {
    margin: 0;
    
}

.logo img {    
    margin: 30px 20px 30px 15px; 
    width: 45px;
    height: auto; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar ul li a:hover {
    background-color: #a88532; 
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.navbar ul li.active img {
    background-color: gray;
}

.navbar ul li img {
    margin: 20px 30px 20px 30px;
    width: 20px;
}

.logout {
    margin-top: 200px;
}

.main {
    background-color: rgb(209, 217, 232);
    grid-area: main;
    padding: 20px 20px 0px 20px;
}

.appointment {
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    height: calc(100vh - 120px);
    padding: 25px;
    gap: 13px;
}

/*here*/
.appointmentsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  
  .rightSection {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px; /* Adjust spacing between filterSection and button */
  }
  
  .filterSection {
    display: flex;
    gap: 10px; /* Space between the dropdowns */
  }
  
  .filterBtn {
    background-color: rgb(231, 236, 246);
    color: #000000;
    padding: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 260px;
  }
  
  select option[disabled]:checked {
    display: none;
  }
  
  .reviewBtn {
    background-color: #021d2c;
    color: #ffffff;
    padding: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
  }
  
  
  .appointment_content {
    background-color: white;
    gap: 15px;
    height: 100%;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "make upcoming previous" 
        "today upcoming previous";
  }
  
  .appointment_content section {
    background-color: rgb(231, 236, 246);    
    border-radius: 25px;
    border: 1px solid #00000003;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
  }
  
  .appointment_content section:nth-child(1) {
    grid-area: make;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;        
  }

  section button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 236, 246);
    font-weight: bold;
    border: 1px solid rgb(231, 236, 246);
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    width: 400px;
    height: 100%;
    width: 100%;
    padding: 20px;
  }

.plus-icon {
    font-size: 20px;
    margin-left: 10px;
}; 

  .doneSection {
    grid-area: today;        
  }
  
  .todaySection {
    grid-area: upcoming;
    color: #6D6F96;
  }
  
  .doneSection {
    grid-area: previous;
    color: #00890E
  }
  
  .sectionDetails {
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    color: black;
  }
  
  .sectionDetails p {
    color: rgb(114, 114, 114);
    font-size: 15px;
  }